Accounts1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Password" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="Password" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Date"  type="xs:date" />
  <xs:element name="Strength"  type="xs:string" />
  <xs:element name="percentage" type="xs:unsignedByte" />
</xs:schema>